/*************/
/* CSS Rules */
/*************/

body {
    background-color: rgb(224, 125, 125);
}

/* Calculator's interface rules */
#calculator {
    border: solid;
    border-radius: 2%;
    border-width: 2px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(192, 214, 243);
}

/* Rules for number_buttons */
.number_keys {
    font-weight: bold;
    padding: 4% 8%;
    margin: 0.4%;
}

/* Rules for operation_buttons */
.oper_keys {
    font-weight: bold;
    border: solid 0.1% rgb(185, 171, 171);
    border-radius: 10%;
    border-width: 2px;
    background-color: rgb(189, 185, 185);
    padding: 4% 8%;
    margin: 0.4%;
}

/* Rules for result_screen */
#screen {
    margin: 0 auto;
    font-size: 20px;
    text-align: right;
    background-color: rgb(247, 245, 245);
    border: solid;
    border-radius: 5%;
    border-width: 2px;
    padding: 15px 32px;
    width: 65%;
}

/* Rules for enter_button */
#enter {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: rgb(247, 245, 245);
    border: solid rgb(155, 144, 144);
    border-radius: 5%;
    border-width: 2px;
    padding: 15px 32px;
    width: 75%;
}

/* If button is pressed */
button:active {
    background-color: rgb(197, 197, 197);
}

/************************************************/

/* Rules for Clock */
#clock {
    border: solid rgb(43, 40, 40);
    border-radius: 12%;
    border-width: 2.5px;
    position: absolute;
    bottom: 1%;
    padding: 1%;
    background-color: rgb(71, 71, 107);
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    color: rgb(5, 238, 255);
}

/************************************************/

/* Rules for Stopwatch */
#stopwatch {
    position: absolute;
    bottom: 1%;
    right: 1%;
    border: solid rgb(255, 208, 0);
    border-radius: 12%;
    border-width: 2.5px;
    padding: 1%;
    background-color: rgb(231, 154, 12);
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

/* Rules for stopwatch's buttons */
.but {
    font-size: 22px;
    border: solid rgb(75, 69, 69);
    border-width: 2px;;
    border-radius: 12%;
}

/* Rules for time displayed */
#time {
    font-weight: normal;
}
